:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);
  background-color: #242424;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
}

/* ::start Generic Style */
a {
  font-weight: 500;
  color: #646cff;
  text-decoration: inherit;
}

a:hover {
  color: #535bf2;
}

body {
  margin: 0;
  display: flex;
  min-width: 320px;
  min-height: 100vh;
}

h1 {
  font-size: 2.8em;
  line-height: 1.1;
}

input {
  padding: 0.625rem;
  border: 0.125rem solid #f1356d;
  border-radius: 0.25rem;
  margin-right: 0.625rem;
  font-size: 1rem;
  width: 25rem;
  max-width: 100%;
}

button {
  padding: 0.625rem;
  background-color: #f1356d;
  color: white;
  border: none;
  border-radius: 0.25rem;
  cursor: pointer;
  font-size: 1rem;
}

button:hover {
  background-color: #d12d5c;
}


#app {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

/* ::end Generic Style */

/* ::start Anime Search style */
form {
  align-items: center;
  margin-bottom: 1.25rem;
}

.search-type input {
  width: auto;
  margin-left: 2rem;
  font-size: 1rem;
}

.search-type input[type=radio] {
  position: relative;
  appearance: none;
  top: 0.4rem;
  border-radius: 50%;
}

.search-type input[type=radio]:checked {
  background-color: #f1356d;
}

.anime-search-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 1.25rem;
}

.error-message {
  color: red;
  font-size: 1.25rem;
}

.anime-details {
  margin-top: 1.25rem;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 1.25rem;
  padding: 1rem;
  border: 0.15rem solid #f1356d;
  border-radius: 1rem;
}

.anime-image {
  justify-content: start;
}

.anime-image img {
  width: 12.5rem;
  height: 18.75rem;
  object-fit: cover;
  border-radius: 0.25rem;
  margin-right: 1.25rem;
}

.anime-summary h2 {
  font-size: 1.75rem;
  margin-bottom: 0.625rem;
  color: #f1356d;
}

.anime-summary p {
  font-size: 1.125rem;
  margin-bottom: 0.625rem;
  text-align: justify;
}

.anime-summary strong {
  color: #f1356d;
}

/* ::end Anime Search style */

@media (prefers-color-scheme: light) {
  :root {
    color: #213547;
    background-color: #ffffff;
  }
  a:hover {
    color: #747bff;
  }
  button {
    background-color: #f9f9f9;
  }
}
